@model TestViewModel

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>This is the about page.</p>
<p>The current time is @DateTime.Now.</p>
<p>Name: @Model.Name</p>
<p>Surname: @Model.Surname</p>
<p>Age: @Model.Age</p>